* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
a:hover {
  color: #ff0000;
  text-decoration: underline;
}
.acronym,
.description {
  font-size: 20px;
}
